<nav class="px-40">
    <div class="user d-flex h-100 align-items-center  justify-content-between justify-content-sm-end">

        <div class="d-flex h-100 align-items-center ">
            <img src="assets/images/group-8.png">
            <p class="mb-0 ms-3">
                <span class="text-black d-block">{{currentUser.first_name}} {{currentUser.last_name}} </span>
                <span class="text-gray d-block">{{currentUser.role}}</span>
            </p>
            <img src="assets/images/icon-stroke-16-arrow-down.svg" class="mx-3">
        </div>

        <img src="assets/images/notification-off-web.png" class="notification-icon">
    </div>
</nav>